/* tablet */
@media (max-width: 1023px){
    .title-heading h1{
        font-size: 6rem;
    }
    .t-font-24{
        font-size: 2.4rem;
    }
    
}
@media(max-width: 739px){
    
    .header .icon{
        display: block;
    }
    .nav-header{
        width: 100px;
        height: unset;
        display: none;
    }
    .nav-header .nav-list{
        flex-direction: column;
    }

}